.accent {
  background-color: var(--orange);
  color: var(--white);
  border: 0;
  font-size: 2rem;
  padding: 0.5rem 4rem;
  border-radius: 2rem;
  font-family: Geometria-Medium;
  cursor: pointer;
}
.round {
  background-color: var(--orange);
  color: var(--white);
  border: 0;
  font-size: 3rem;
  padding: 0.5rem 1.5rem;
  border-radius: 100%;
  font-family: Geometria-Medium;
  cursor: pointer;
}
