.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.important {
  padding-left: 5%;
}
.importantCard {
  width: 70%;
  padding: 2.5% 5%;
  margin-left: auto;
  background-color: var(--light-gray);
}
.importantCard h1,
p {
  margin-bottom: 1.5rem;
}
.dualContainer {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 8rem;
}
.dualContainerTop {
  display: flex;
  justify-content: space-between;
}
.dualContainerTop p {
  text-align: end;
  max-width: 60%;
}
.dualContainerBottom {
  display: flex;
  justify-content: space-between;
}
.ServiceOffline{
 margin: 0 auto;
}