.contact {
  display: flex;
  flex-direction: column;
  padding: 0 5%;
  gap: 5rem;
}

.contactContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.leftColumn h2 {
  margin-bottom: 2rem;
}
