.reviews {
  display: flex;
  flex-direction: column;
  margin: 10% 0;
  overflow: hidden;
}

.reviewsTop {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}
.reviewsCarusel {
  width: 100%;
  display: flex;
  gap: 5%;
  overflow: hidden;
  margin-top: 2.5%;
  padding-left: 30%;
  z-index: 0;
}

.slidernav {
  display: flex;
  justify-content: center;
  gap: 45%;
  max-height: 5.25rem;
}

.card {
  background-color: var(--white);
  border-radius: 2rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  transition: transform 0.5s; /* Add smooth transition */
}

.cardReviewer {
  display: flex;
  align-items: center;
  gap: 3%;
}
